---
layout: default
redirect_from:
  - space/between/2016/06/17/account-executive-role.html
  - process/
---
{% include structureMarkup.html %}

{% include canvas.html %}

{% include hero.html header="Hello there" description="We build websites and mobile apps that will blow your mind... In the best way!"%}

<div class="section row">
	<div class="columns small-12 medium-8">
		<h2>We're Space Between</h2>
		<p>a group of coders, developers and creative geeks who know a thing or two about great website development and mobile app design. </p>
		<p>With tons of experience between us we’ve been there, done it and got the virtual t-shirt -  and we’re here to help you make your mark on the bright and beautiful digital world. </p>
		<p>As a team we’re super passionate about making your vision come to life. Our team use all the tricks in their toolbox to deliver the best result, whether you need a new website or ecommerce app. We’re all about finding that sweet spot where something looks great and works great. </p>
		<p>We collaborate closely with all of our clients to make sure that we’re coming up with the solutions that suit your needs perfectly.  From regular chats to throwing ideas around and discussing the website development process, you’ll be with us every step of the way.</p>
	</div>
</div>

{% include services.html %}

{% include contactUs.html %}

{% include whatWeDo.html %}

{% include caseStudiesIntro.html %}

{% include blogIntro.html %}