<div class="attention">
	<div class="row align-middle">
		<div class="columns small-12 medium-7">
			<h1 class="medium-text-right shout shout-loudly thinHeader">Work with us</h1>
		</div>
		<div class="columns medium-5">
			<h3 class="thinHeader medium-skinnyText"><a class="anchor anchor-bland anchor-large" href="tel:{{site.phone}}" itemprop="telephone">{{site.phone}}</a></h3>
			<h3 class="thinHeader medium-skinnyText"><a class="anchor anchor-bland anchor-large" href="mailto:{{site.email}}" itemprop="email">{{site.email}}</a></h3>
		</div>
	</div>
</div>