<div class="attention">
	<div class="row align-middle">
		<h1 class="columns small-12 medium-7 medium-text-right shout shout-loudly thinHeader">Work with us</h1>
		<div class="columns medium-5">
			<div itemscope itemtype="http://schema.org/Organization">
				<h4 class="thinHeader skinnyText"><a class="anchor anchor-bland" href="tel:{{site.phone}}" itemprop="telephone">{{site.phone}}</a></h4>
				<h4 class="thinHeader skinnyText"><a class="anchor anchor-bland" href="mailto:{{site.email}}" itemprop="email">{{site.email}}</a></h4>
			</div>
		</div>
	</div>
</div>