<section class="section">
	<div class="row footer aling-bottom">
		<div class="columns medium-8" itemscope="" itemtype="http://schema.org/LocalBusiness">
			<div><span itemprop="name">{{site.name}}</span></div>
            <link itemprop="url" href="http://spacebetween.io/">
            <link itemprop="sameAs" href="https://plus.google.com/+SpacebetweenIo/about">
            <link itemprop="hasMap" href="https://goo.gl/maps/pjjfVbpkJin">
			<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">The Cedars, Church Road</span><br>
				<span itemprop="addressLocality">Ashford</span>,
				<span itemprop="addressRegion">Kent</span>,
				<span itemprop="postalCode">TN23 1RQ</span>,
				<span itemprop="addressCountry">UK</span><br>
			</div>
			<span itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="51.146524">
                <meta itemprop="longitude" content="0.8701825">
            </span>
            <div class="hushed">Space Between Group Ltd - Registered Company No: 05798165</div>
		</div>
		<div class="columns small-12 medium-4 medium-text-right">
			<a href="tel:{{site.phone}}" class="hide-for-small-only anchor button expanded" data-category="topBar" data-action="phoneClick">Get in touch</a>
			<a class="anchor anchor-bland" href="http://spacebetween.io/sitemap.xml" data-category="footer" data-action="sitemapClick"><i class="fa fa-2x fa-map fa-fw" action="Click to take you to the sitemap"></i></a>
			<a class="anchor anchor-bland" href="https://github.com/{{ site.github_username }}/" data-category="footer" data-action="githubClick" action="Click to take you to the Github"><i class="fa fa-2x fa-github fa-fw"></i></a>
			<a class="anchor anchor-bland" href="http://twitter.com/{{ site.twitter_username }}" data-category="footer" data-action="twitterClick" action="Click to take you to the Twitter"><i class="fa fa-2x fa-twitter fa-fw"></i></a>
		</div>
	</div>
</section>

<script type="text/javascript" src="/assets/fs.min.js"></script>
<script type="text/javascript" src="/assets/canvasRender.js"></script>