<footer>
	<div class="section row align-bottom">
		<div class="columns medium-8" itemscope="" itemtype="http://schema.org/LocalBusiness">
			<div><h4 itemprop="name"><strong>{{site.name}}</strong></h4></div>
            <link itemprop="url" href="{{site.url}}/">
            <link itemprop="sameAs" href="https://plus.google.com/+SpacebetweenIo/about">
            <link itemprop="hasMap" href="https://goo.gl/maps/pjjfVbpkJin">
			<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">The Cedars, Church Road</span><br>
				<span itemprop="addressLocality"><strong>Ashford</strong></span>,
				<span itemprop="addressRegion"><strong>Kent</strong></span>,
				<span itemprop="postalCode">TN23 1RQ</span>,
				<span itemprop="addressCountry">UK</span><br>
			</div>
			<span itemprop="geo" itemscope="" itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="51.146524">
                <meta itemprop="longitude" content="0.8701825">
            </span>
            <div class="hushed">Space Between Group Ltd - Registered Company No: 05798165</div>
		</div>
		<div class="columns small-12 medium-4 medium-text-right footer_social">
			<a class="anchor anchor-bland" href="https://www.facebook.com/{{ site.facebook_id }}/" data-category="footer" data-action="facebookClick" action="Click to take you to the Facebook"><i class="fa fa-2x fa-facebook fa-fw"></i></a>
			<a class="anchor anchor-bland" href="https://github.com/{{ site.github_username }}/" data-category="footer" data-action="githubClick" action="Click to take you to the Github"><i class="fa fa-2x fa-github fa-fw"></i></a>
			<a class="anchor anchor-bland" href="http://twitter.com/{{ site.twitter_username }}" data-category="footer" data-action="twitterClick" action="Click to take you to the Twitter"><i class="fa fa-2x fa-twitter fa-fw"></i></a>
		</div>
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="/assets/logic.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/atelier-cave-dark.min.css">
</head>