<head>

    {% if page.description %}
        {% assign metaDescription = {{page.description}} %}
    {% else %}
        {% assign metaDescription = {{site.description}} %}
    {% endif %}

    {% if page.title %}
        {% assign metaTitle = {{page.title}} %}
    {% else %}
        {% assign metaTitle = {{site.title}} %}
    {% endif %}

    {% if page.title %}
        {% assign metaImage = {{page.banner | prepend: site.baseurl | prepend: site.url}} %}
    {% else %}
        {% assign metaImage = {{site.logo | prepend: site.baseurl | prepend: site.url}} %}
    {% endif %}

    {% assign authorData = {{site.@data.team[page.author_id][0]}} %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title>{{metaTitle}}</title>
    <meta name="description" content="{{metaDescription}}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{metaTitle}}">
    <meta itemprop="description" content="{{metaDescription}}">
    <meta itemprop="image" content="{{metaImage}}">

    <!-- Twitter Card data -->
    {% if page.banner %}
        <meta name="twitter:card" content="summary_large_image">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}

    <meta name="twitter:site" content="@{{site.twitter_username}}">
    <meta name="twitter:title" content="{{metaTitle}}">
    <meta name="twitter:description" content="{{metaDescription}}">
    <meta name="twitter:creator" content="@{% if authorData.twitter %}{{authorData.twitter}}{%else%}{{site.twitter_username}}{% endif %}">
    <meta name="twitter:image" content="{{metaImage}}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{metaTitle}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{site.url | append: page.url}}">
    <meta property="og:image" content="{{metaImage}}">
    <meta property="og:description" content="{{metaDescription}}">
    <meta property="og:site_name" content="{{site.name}}">

    <meta property="article:published_time" content="{% if page.date %}{{page.date | date_to_xmlschema}}{% else %}{{site.time | date_to_xmlschema}}{% endif %}">
    <meta property="article:modified_time" content="{{site.time | date_to_xmlschema}}">
    <meta property="article:section" content="technology">
    <meta property="article:tag" content="{% if page.category %}{{page.category}}{% else %}{{site.name}}{% endif %}">

    <meta property="fb:profile_id" content="{{site.facebook_id}}">

    <link rel="stylesheet" href="{{"/css/main.css" | prepend: site.baseurl}}">
    <link rel="canonical" href="{{page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url}}">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700|Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
