<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KDKL7V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KDKL7V');</script>
<!-- End Google Tag Manager -->

<nav class="row nav align-justify align-middle">
	<div class="columns small-8 medium-6 nav_links">
		<ul class="menu">
			<li class="nav_logoContainer">
				<h1 class="logo"><a href="/" class="anchor anchor-bland">{{ site.name | upcase }}</a></h1>
			</li>
		</ul>
	</div>
	<div class="columns shrink medium-6 nav_contact">
		<ul class="menu show-for-small-only">
			<li>
				<a type="button" href="#offCanvas" class="button expanded text-right " data-toggle="offCanvas">Menu</a>
			</li>
		</ul>
		<ul class="menu hide-for-small-only">
			{% include menu.html %}
		</ul>
	</div>
</nav>

<div id="offCanvas" class="nav row offCanvas align-right">
	<a href="#" class="offCanvas_close"></a>
	<ul class="offCanvas_inner menu vertical show-for-small-only text-right">
		<li>
			<a class="anchor anchor-bland" href="#">Close &#x2716;</a>
		</li>
		{% include menu.html %}
	</ul>
</div>