<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KDKL7V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KDKL7V');</script>
<!-- End Google Tag Manager -->

<div id="offCanvas" class="offCanvas animated">
	<div class="offCanvas_inner">
		<div class="row nav nav-spaced align-justify align-middle">
			<div class="columns small-8 medium-6">
				<ul class="menu">
					<li class="nav_logoContainer">
						<h1 class="logo"><a href="/" class="anchor anchor-bland">{{ site.name | upcase }}</a></h1>
					</li>
				</ul>
			</div>
			<div class="columns shrink small-6">
				<ul class="menu show-for-small-only">
					<li class="align-right">
						<a type="button" href="#" class="button expanded text-right jsToggle" data-toggle="#offCanvas">Menu</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav">
			<ul class="menu vertical text-center">
				{% include menu.html %}
			</ul>
		</div>
	</div>
</div>

<nav class="row nav nav-spaced align-justify align-middle">
	<div class="columns small-8 medium-4 nav_links">
		<ul class="menu">
			<li class="nav_logoContainer">
				<h1 class="logo"><a href="/" class="anchor anchor-bland">{{ site.name | upcase }}</a></h1>
			</li>
		</ul>
	</div>
	<div class="columns nav_contact">
		<ul class="menu show-for-small-only nav_menu">
			<li>
				<a type="button" href="#" class="button expanded text-right jsToggle" data-toggle="#offCanvas">Menu</a>
			</li>
		</ul>
		<ul class="menu hide-for-small-only nav_menu">
			{% include menu.html %}
		</ul>
	</div>
</nav>