<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KDKL7V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KDKL7V');</script>
<!-- End Google Tag Manager -->

<nav class="row">
	<div class="column nav">
		<div class="columns small-5 nav_links">
			<ul class="menu text-center">
				<li class="nav_logoContainer">
					<h3><a href="/" class="logo anchor anchor-bland">{{ site.name | upcase }}</a></h3>
				</li>
			</ul>
		</div>
		<div class="columns small-7 nav_contact">
			<button type="button" class="button show-for-small-only text-right" data-toggle="offCanvas">Menu</button>
			<ul class="menu align-right hide-for-small-only">
				<li>
					<a href="tel:{{site.phone}}" class="anchor button" data-category="topBar" data-action="phoneClick">Get in touch</a>
				</li>
				<li>
					<a href="/blog" class="anchor anchor-bland">Blog</a>
				</li>
				<li>
					<a href="/team" class="anchor anchor-bland">Team</a>
				</li>
			</ul>
		</div>
	</div>
</nav>