<div class="hero">
	<div class="row">
		<div class="column">
			<div class="sideHighlight column">
				<h1 class="shout">
					<a href="/process/design.html" class="anchor-bland" action="Find out more about the design phase of our projects">Design,</a>
					<a href="/process/build.html" class="anchor-bland" action="Find out more about the build phase of our projects">Build</a>
					&amp; <a href="/process/grow.html" class="anchor-bland" action="Find out more about the grow phase of our projects">Grow</a>
				</h1>
				<p>
					Generating measurable value through innovative design and development.
				</p>
			</div>
		</div>
	</div>
</div>