<li>
	<a href="/process" action="Go to the process page" class="anchor anchor-bland">Work</a>
</li>
<li>
	<a href="/process" action="Go to the process page" class="anchor anchor-bland">Process</a>
</li>
<li>
	<a href="/team" action="Go to the team page" class="anchor anchor-bland">Team</a>
</li>
<li>
	<a href="/blog" action="Go to the blog page" class="anchor anchor-bland">Blog</a>
</li>
<li>
	<a href="tel:{{site.phone}}" action="Call us now" class="anchor button expanded" data-category="topBar" data-action="phoneClick">Get in touch</a>
</li>