<div class="section section-padded row">
	{% include card.html header="Design" info="We kick off our projects with our own custom flavour of the classic design sprint, this is a great way to find out much more about your brand." link="/process/design.html" %}
	{% include card.html header="Build" info="With our massive passion for tech and pushing the envelope on the web, you know we are going to find the right solution for your exciting problems." link="/process/build.html" %}
	{% include card.html header="Grow" info="Who doesn't love to grow, we see ourselves as the catalyst for your business. We bring our expertise and passion and combine it with your ideas to make something amazing." link="/process/grow.html" %}
</div>