<div class="section section-padded row">
	<h2 class="columns small-12">What we do</h2>
	
	{% include card.html header="Web Development" info="We've got some of the brightest technical talent you'll find, our team love building scalable performant websites." link="/services/web-development" %}
	
	{% include card.html header="App Development" info="We've got huge experience with developing mobile and desktop applications, our amazing team will deliver your dreams." link="/services/app-development" %}	
	
	{% include card.html header="Conversion Optimisation" info="We've got a wealth of experience optimising websites and applications to perform even better. We focus on measurable results delivering real value." link="/services/conversion-optimisation" %}
	
	
</div>