<div class="section section-padded row">
	<h2 class="columns small-12">What we do</h2>
	
	{% include card.html header="Web Development" info="Building beautiful web experiences is our passion, it's what we've done for years, our team love building scalable performant websites with a real focus on the most important person, your user." link="/services/web-development" image="/assets/images/work/web-development.jpg" mediumSize="6" %}
	
	{% include card.html header="Mobile App Development" info="Our specialst team bring with them a vast experience delivering hand crafted mobile apps that will delight the user and amaze your users, but keeping them so simple a child can use them." link="/services/mobile-app-development" image="/assets/images/work/mobile-development.jpg" mediumSize="6" %}	
	
</div>