<div class="section row">
	<h2 class="columns small-12">What we do</h2>
	{% include card.html header="Digital Strategy" info="Need help growing what you've already got, we've got the expertise to help your businesses grow."%}
	
	{% include card.html header="Web Development" info="We've got some of the brightest technical talent you'll find, our team love building scalable performant websites." %}
	
	{% include card.html header="App Development" info="We've got huge experience with developing mobile and desktop applications, our amazing team will deliver your dreams." %}
	
	{% include card.html header="Social Media" info="Want to grasp the depths of social media, we can work with you to grow and engage with your user base." %}
	
	{% include card.html header="Conversion Optimisation" info="We've got a wealth of experience optimising websites and applications to perform even better. We focus on measurable results delivering real value." %}
	
	{% include card.html header="All sorts" info="We're always excited by opportunities to create something amazing, so speak with us about your project today!" %}
</div>