<div style="display:none" itemscope itemtype="http://schema.org/Organization">
	<a itemprop="url" href="http://spacebetween.io/">
		<div itemprop="name"><strong>Space Between</strong></div>
	</a>
	<div itemprop="description">
		We're an extremely passionate, friendly and enthusiastic group with over 20 years of combined experience. In that time, we've learnt a lot about building great websites and mobile apps.

		Our focus is on generating measurable value through innovative design and development, you know you're in safe hands with Space Between.
	</div>
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">The Cedars, Church Road</span><br>
		<span itemprop="addressLocality">Ashford</span><br>
		<span itemprop="addressRegion">Kent</span><br>
		<span itemprop="postalCode">TN23 1RQ</span><br>
		<span itemprop="addressCountry">United Kingdom</span><br>
	</div>
</div>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Space Between",
		"url": "http://spacebetween.io/",
		"sameAs": [
			"https://www.facebook.com/teamSpaceBetween/",
			"https://twitter.com/Space__Between",
			"https://plus.google.com/+SpacebetweenIo"
		]
	}
</script>
<script type="application/ld+json">
	{ 
		"@context": "http://schema.org",
		"@type": "Organization",
		"url": "http://spacebetween.io/",
		"contactPoint": [
			{ 
				"@type": "ContactPoint",
				"telephone": "+441233 800991",
				"contactType": "customer service",
				"email": "hello@spacebetween.io"
			}
		]
	}
</script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"url": "http://spacebetween.io/",
		"logo": "http://spacebetween.io/assets/images/spaceBetween.png"
	}
</script>