<div class="section section-padded row">
	{% include card.html header="Web content management" info="Whether you want to give your website a fresh new look, add a new feature or throw out the old and start with a whole new design from scratch, we have a range of packages to give you what you need." link="/services/content-management" %}

	{% include card.html header="Ecommerce" info="Space Between utilise a wide mix of design and development skills, alongside brand research and a tailored approach, in order to ensure that each aspect of your page is used to represent your brand and sell your products." link="/services/ecommerce" %}

	{% include card.html header="Apps" info="Google recently said that over 50% of searches are conducted on a mobile, and that number is set to grow. Custom apps provide you with a way to capture and engage your customers in new and exciting ways." link="/services/apps" %}
</div>