---
layout: default
title: How Space Between work
description: We're so excited about making sure we deliver the best work for your users, and this is how we do it...
---

{% include canvas.html %}
{% include hero.html header="We're proud of our process" description="We've spent a lot of time refining, polishing and tweaking our process. And we're sure you're going to love it."%}

<section class="section">
	<div class="row">
		<div class="column small-12 medium-10">
			<h2>Our Process</h2>
			<p>At Space Between, we've spent years coming up with the perfect flavours to help all manner of companies design build and grow their online presence.</p>
			<p>By stepping into the shoes of your users, we are able to show you how they use your website, and ultimately your entire service.</p>
			<p>Because of our meticulous focus on your users, you can be sure that with Space Between you are getting an unrivaled level of service.</p>
			<p>Through our unique Design, Build &amp; Grow phases, we help develop your business's online presence, while delivering measurable results through innovative ideas.</p>
			<p>If you'd like to have a look at some of our work, head over to our <a href="/caseStudies/" action="View our case studies page">case studies</a> page, otherwise, have a look at just how our Design, Build &amp; Grow phases work:</p>
		</div>
	</div>
	<div class="row">
		<div class="column small-12 medium-4">
			<h3>Design</h3>
			<p>We kick off our projects with our own custom flavour of the classic design sprint, this is a great way to find out much more about your brand.</p>
			<a href="/process/design.html" action="Read more about our design phase">Read more</a>
		</div>
		<div class="column small-12 medium-4">
			<h3>Build</h3>
			<p>With our massive passion for tech and pushing the envelope on the web, you know we are going to find the right solution for your exciting problems.</p>
			<a href="/process/build.html" action="Read more about our design phase">Read more</a>
		</div>
		<div class="column small-12 medium-4">
			<h3>Grow</h3>
			<p>Who doesn't love to grow, we see ourselves as the catalyst for your business. We bring our expertise and passion and combine it with your ideas to make something amazing.</p>
			<a href="/process/grow.html" action="Read more about our design phase">Read more</a>
		</div>
	</div>
</section>