$body-font-family: 'Merriweather';
$header-font-family: 'Lato';
$white: #FAFAFA;
$black: #0a0a0a;
$body-background: $black;
$body-font-color: $white;

$primary-color: #FFAB00;
$grey: rgba(0,0,0,0.44);

$anchor-color: $white;
$anchor-text-decoration-hover: underline;
$topbar-background: transparent;