$body-font-family: 'Merriweather';
$header-font-family: 'Lato';
$white: #EDEAE3;
$black: #19181a;
$body-background: $black;
$body-font-color: $white;

$lighter-black: #1e1c1f;

$primary-color: #FFAB00;
$secondary-color: #29abe2;
$grey: rgba(0,0,0,0.44);

$anchor-color: $secondary-color;
$anchor-text-decoration-hover: underline;
$topbar-background: transparent;

$screen-medium: 640px !default;
$screen-large: 1024px !default;
$screen-xlarge: 1200px !default;
$screen-xxlarge: 1440px !default;