.anchor {
	&-bland {
		&,
		&:hover,
		&:visited,
		&:active {
			color: inherit;
		}
	}
	&-rightAlign {
		padding-right: 0 !important; // Foundation does some crazy levels of specificty :(
	}
	&-icon {
		text-indent: -9999px;
		overflow: hidden;
	}
}