.banner {
	background-size: cover;
	background-position: center;
	height: 200px;
	display: block;
	&:hover {
		text-decoration: none;
	}
}

@media ( min-width: $screen-medium ) {
	.banner {
		&-large {
			height: 400px;
		}
	}
}