blockquote {
	border-left-color: $secondary-color;
}

.center {
	margin: 0 auto;
}

.selected {
	text-decoration: underline;
}

.sideHighlight {
	border-left: 8px solid $secondary-color;
	height: 100%;
}

.skinnyText {
	font-weight: 100;
}

.thinHeader {
	margin: 0;
	line-height: 1;
}

.highlight {
	color: $secondary-color;
}