blockquote {
	border-left-color: $secondary-color;
}

.center {
	margin: 0 auto;
}

.selected {
	text-decoration: underline;
}

.sideHighlight {
	border-left: 8px solid $secondary-color;
	height: 100%;
}

.skinnyText {
	font-weight: 100;
}

.thinHeader {
	margin: 0;
	line-height: 1;
}

.tile {
	text-align: center;
	margin: 0;
	position: relative;
	overflow: hidden;
	flex: 0 0 100%;
	cursor: pointer;

	&_container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	&_image {
		position: relative;
		display: block;
		min-height: 100%;
		max-width: 100%;
		opacity: 0.7;
		transition: all 0.35s;
		-webkit-filter: grayscale(100%);
	}
	&_title {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 1rem 0 1rem 3rem;
		width: 100%;
		text-align: left;
		transform: translate3d(0,-30px,0);
	}
	&_i {
		font-style: normal;
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(0,-30px,0);
	}
	&_caption {
		padding: 2em;
		text-transform: uppercase;
		font-size: 1.25em;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&::before, &::after {
			pointer-events: none;
		}
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
			background: $secondary-color;
			content: '';
			transform: translate3d(0,11px,0);
		}
	}
	&_anchor {
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}
	&_caption, &_anchor {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&_caption::before, &_title {
		transition: transform 0.35s;
	}
	&:hover {
		.tile_image {
			opacity: 0.9;
			-webkit-filter: grayscale(40%);
		}
		.tile_caption::before, .tile_title, .tile_i {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
}

@media ( min-width: $screen-medium ) {
	.tile {
		flex: 0 0 50%;
	}
}