.offCanvas {
	position: absolute;
	top:0;
	height: 0;
	width: 100%;
	border-bottom: 8px solid $secondary-color;
	background: black;
	&_close {

	}
	&_inner {
		display: none;
		width: 100%;
	}
}

#offCanvas:target {
	height: auto;
	.offCanvas_inner {
		display: block;
	}
}

@media ( min-width: $screen-medium ) {
	.offcanvas {
		display: none;
	}
}